@font-face {
    font-family: 'source-sans-pro';
    src: url(../font/source-sans-pro/woff/sourcesanspro-regular-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

@media (min-width: 320px) {

    html,
    body {
        max-width: 100vw;
        font-family: 'source-sans-pro', arial;
    }

    .row {
        margin-right: 0px;
        margin-left: 0px;
        max-width: 100vw;
    }

    /* HEADER */
    header {
        background: linear-gradient(to right, #85CDCA, #40B3A2);
        background: -webkit-linear-gradient(left, #85CDCA, #40B3A2);
        background: -o-linear-gradient(right, #85CDCA, #40B3A2);
        background: -moz-linear-gradient(right, #85CDCA, #40B3A2);
        min-height: 5vh;
        overflow: hidden;
    }

    header h2 {
        text-align: left;
        /* font-size: 2px; */
    }

    header a.back-area {
        font-weight: 600;
        transition: all 0.2s;
    }

    header a.back-area:hover {
        text-decoration: none;
    }

    .div-back-area {
        position: absolute;
        display: flex;
        right: 0;
        top: 0;
        min-height: 100%;
        background: #85CDCA;
    }

    .back-area img {
        width: 45px;
    }

    .back-text-area {
        display: none;
    }

    /* END HEADER */

    /* MAIN */

    main {
        margin-top: 96px;
        background: #EDF5E0;
        max-width: 100vw;
    }

    /* INFO PROJECT */

    .info-project .col-3 {
        -ms-flex: 0 0 24%;
        flex: 0 0 24%;
        max-width: 24%;
        background: #fff;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
        margin: 0 0.5%;
        padding-left: 0px;
        padding-right: 0px;
        min-height: 65px;
    }

    .info-project .col-md-5,
    .info-project .col-md-7 {
        padding-left: 0px;
        padding-right: 0px;
        min-height: 100%;
        overflow: hidden;
    }

    .info-project .row {
        min-height: 100%;
        padding: 0px 0;
    }

    .icon-info {
        background: linear-gradient(to right, #85CDCA, #40B3A2);
        background: -webkit-linear-gradient(left, #85CDCA, #40B3A2);
        background: -o-linear-gradient(right, #85CDCA, #40B3A2);
        background: -moz-linear-gradient(right, #85CDCA, #40B3A2);
        max-width: 50%;
        border-radius: 3px;
        /* max-height: 60%; */
        /* padding: 5px -10px; */
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .info-project img {
        width: 60%;
    }

    .info-project span {
        font-size: 12px;
        font-weight: 600;
    }

    .info-project-text {
        justify-content: center;
    }

    .info-project-text.flex-column span {
        text-align: center;
    }


    /* END INFO PROJECT */

    .title-progress {
        display: block;
        padding: 10px 10px;
        font-size: 16px;
        background: rgba(0, 0, 0, 0.1);
        color: rgba(0, 0, 0, 0.5)
    }

    /* ALL TASK BY STATUS */

    .all-task-by-status {
        background: #fff;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
        padding-left: 0px;
        padding-right: 0px;
        min-height: 75vh;
        max-height: 75vh;
        overflow: hidden;
    }

    .progress-content {
        position: absolute;
        z-index: 2;
        height: 40%;
        margin-top: 110px;
    }

    .info-project .row.progress-legend {
        min-height: unset;
        max-height: 30px;
        margin-top: 100px;
    }

    .legend-icon-inprogress {
        width: 10px;
        height: 10px;
        background: #31668E;
    }

    .legend-icon-completed {
        width: 10px;
        height: 10px;
        background: #40B3A2;
    }

    .legend-icon-overdue {
        width: 10px;
        height: 10px;
        background: #C2C9CF;
    }

    .legend-icon-onhold {
        width: 10px;
        height: 10px;
        background: #D79922;
    }

    .legend-icon-cancelled {
        width: 10px;
        height: 10px;
        background: #5C2018;
    }

    .legend-icon-other {
        width: 10px;
        height: 10px;
        background: #242582;
    }

    /* END ALL TASK BY STATUS */

    /* INVOICE */

    .invoice {
        background: #fff;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
        padding-left: 0px;
        padding-right: 0px;
        min-height: 75vh;
        max-height: 75vh;
        overflow: hidden;
    }

    .invoice-progress {
        position: relative;
        min-height: 70%;
    }

    .invoice-legend-low {
        width: 10px;
        height: 10px;
        background: #40B3A2;
    }

    .invoice-legend-medium {
        width: 10px;
        height: 10px;
        background: #31668E;
    }

    .invoice-legend-high {
        width: 10px;
        height: 10px;
        background: #242582;
    }

    /* END INVOICE */

    /* TASK COMPLETED */

    .info-project .col-md-5.task-completed {
        min-height: unset;
        min-height: 50vh;
        max-height: 50vh;
        background: #fff;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    }

    .task-completed-progress {
        height: 82%;
    }

    .task-completed span {
        color: #f8f9fa;
        font-size: 14px;
        text-transform: uppercase;
    }

    /* END TASK COMPLETED */

    /* WEEK PROGRESS */

    .info-project .col-md-7.week-progress {
        min-height: unset;
        min-height: 50vh;
        max-height: 50vh;
        background: #fff;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    }

    .week-progress-content {
        height: 50%;
    }

    .week-point {
        position: relative;
        z-index: 5;
        width: 20px;
        height: 20px;
        border-radius: 100%;
        background: #242582;
    }

    /* END WEEK PROGRESS */

    /* END MAIN */

}

@media (min-width: 390px) {

    /* PROJECT MONITOR */


    /* END PROGRESS CONTENT */
}

@media (min-width: 768px) {

    /* HEADER */
    header h2 {
        text-align: center;
    }

    .back-area img {
        width: 40px;
    }

    /* END HEADER */

    /* MAIN */

    main {
        margin-top: 55px;
    }

    /* INFO PROJECT */

    .info-project-text {
        justify-content: left;
    }

    .info-project-text.flex-column span {
        text-align: left;
    }

    .info-project-text.flex-column span.task {
        padding-left: 5px;
    }

    /* END INFO PROJECT */

    /* ALL TASK BY STATUS */

    .all-task-by-status {
        -ms-flex: 0 0 48%;
        flex: 0 0 48%;
        max-width: 48%;
        margin: 0px 1%;
    }

    /* END ALL TASK BY STATUS */

    /* INVOICE */

    .invoice {
        -ms-flex: 0 0 48%;
        flex: 0 0 48%;
        max-width: 48%;
        margin: 0px 1%;
    }

    /* END INVOICE */

    /* TASK COMPLETED */

    .task-completed {
        -ms-flex: 0 0 38.666667%;
        flex: 0 0 38.666667%;
        max-width: 38.666667%;
        margin: 0px 1%;
    }

    /* END TASK COMPLETED */

    /* WEEK PROGRESS */

    .week-progress {
        -ms-flex: 0 0 57.333333%;
        flex: 0 0 57.333333%;
        max-width: 57.333333%;
        margin: 0px 1%;
    }

    /* END WEEK PROGRESS */

    /* END MAIN */

}


@media (min-width: 992px) {

    /* HEADER */
    .back-area {
        width: 170px;
        background: linear-gradient(to right, #85CDCA, #40B3A2);
        background: -webkit-linear-gradient(left, #85CDCA, #40B3A2);
        background: -o-linear-gradient(right, #85CDCA, #40B3A2);
        background: -moz-linear-gradient(right, #85CDCA, #40B3A2);
    }

    .back-text-area {
        display: unset;
        margin-left: 5px;
        font-size: 15px;
    }

    header a.back-area:hover {
        font-weight: 700;
    }

    /* END HEADER */

    /* PROJECT MONITOR */


    /* END PROJECT MONITOR */
}